#about {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-color: #f9f9f9;
  padding: 60px 5%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/project2/project2-3.jpg");; /* Add your image URL here */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* White overlay on top of the background image */
#about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* Adjust the opacity of the white overlay */
  z-index: 1; /* Ensure overlay stays on top of the image */
}

.about-content {
  position: relative;
  z-index: 2; /* Ensure content stays on top of the overlay */
  max-width: 800px;
  margin: 0 auto;
}

#about h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-text);
}

#about p {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.6;
}